body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#teleportMenu {
    display: none; /* Escondido por padrão */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
    width: 300px;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #2980b9;
}
